<!DOCTYPE html>
</html>
<head><title>Census Project</title></head>

<form action="" method="get">

	<br>

	<label>
		Select Column:
		<select name="column_title">
			<option>
			{ % for columnID, column_title in TableInfo %}
			</option>
			{% end for %}
		</select>
	<label>
		Select Second Column:
		<select name="column_title">
			<option>
			{ % for columnID, column_title in TableInfo %}
			</option>
			{% end for %}	
		<div>
			<label for="state">Select State:</label>
			<option>
				{% for states in states %}
			</option>
			{% end for %}
		<select>		
	</label>

	<br>

	<div class="button">
		<button type="submit">Compare!</button>
	<div>
</form>